
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
 
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
 // background-color: #cccccc;
}
#main-wrapper {
 
 
}
#page-title, #breadcrumb a
{
	color:#000000;
}
#messages
{
  background:#ffffff;
}
#main {
 background-image: -moz-linear-gradient(center top , #CCCCCC 0%, #FFFFFF 100%);
  size:auto;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background:#ffffff;

}
a {
  color: #871D33;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #ffffff;
}
#page-wrapper
{
	
}
#footer-wrapper {
  background:#757575;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #ffffff;
}
