/* $Id */

#header {
  background: url("../images/muehlenfeldtrans3.jpg") no-repeat;
  background-position: 140px -40px;
  font-family: "TabletGothicNarrow", "roboto_condensedregular", snas-serif;

}

#header {
  font-family: "TabletGothicNarrow";

}


#site-slogan {
 font-family: "TabletGothicNarrowOblique", "roboto_condensedregular", sans-serif;

}

.tabs.primary {
  font-family: "TabletGothicNarrow", sans-serif;

}

.breadcrumb {
  font-family: "TabletGothicNarrowOblique", sans-serif;
  
}

#footer-wrapper {
  font-family: "TabletGothicNarrow", sans-serif;
  background: #fff;
}

body {
  background: #fff;
  margin-left: auto;
  margin-right: auto;

}

body, table, input, label, .fieldset-legend, .ui-widget {
  font-family: "TabletGothicNarrow", "roboto_condensedregular",sans-serif;
  line-height: 1.5em;
  color: #4b4b4d;
  max-width: 1650px;
}

h1{
  color: #4b4b4d;
  font-weight: 500;
}

table {
  font-size: 0.9em;
}

.fieldset-legend {
  font-weight: 600;
  text-shadow: none;
}

a {
  color: #375b9a;
}


input.form-submit, button {
  border-radius: 7px;
  box-shadow: 0px 0px 6px #cccccc; 
}

input.form-submit:hover,
input.form-submit:focus,
button:hover,
button:focus {
  background: #dedede;
 box-shadow: 0px 0px 6px #ff9933;
}

input.form-submit, button {
    background: url("../images/buttons.png") repeat-x scroll 0px 0px #FFF;
    border-width: 1px;
    border-style: solid;
    border-color: #E4E4E4 #D2D2D2 #B4B4B4;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    color: #3A3A3A;
    cursor: pointer;
    font-size: 0.929em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1em;
    margin-right: 0.6em;
    padding: 4px 17px;
    border-radius: 7px;
font-family: "TabletGothicNarrow", sans-serif;
}
a:hover {
  color: #99bfd9;
}


.region-header .block {
  float: right; /* LTR */
  font-size: 1.0em;
  margin: 0 15px;
  padding: 0;
  width: 43.5%;
}

.region-header .block-menu {
  width: 43.5%;
}

.region-header #block-user-login .item-list li {
  padding: 3px 5px 1px 0; /* LTR */
}

#search-form input#edit-keys, #block-search-form .form-item-search-block-form input {
  width: 70%;
}

div.field {
  clear: both;
  /*padding-bottom: 0.5em;*/
}

div.field .field-label {
  display: block;
  float: left;
  width: 12em;
}

div.field .field-item {
 display: block;
 margin-left: 12em;
}

div.field .field-item[property="content:encoded"]{
margin-left: 0em;
}



div.field>table {
  display: block;
  margin: 0;
  padding-bottom: em;
}

input[readonly="readonly"] {
  background-color: #efefef;
}

div.item-list>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

td {
  max-width: 30em;
  font-weight: 300;

}

table:not([tableheader-processed]) th {
  background-repeat: no-repeat;
  background-position: right;
}

table:not([tableheader-processed]) th:hover {
  text-decoration: underline;
  cursor: pointer;
}

table:not([tableheader-processed]) th.headerSortDown {
  background-image: url('/misc/arrow-desc.png');
}

table:not([tableheader-processed]) th.headerSortUp {
  background-image: url('/misc/arrow-asc.png');
}

table h1{
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 3px;
}

fieldset.edoweb-facets {
  width: 20%;
  float: left;
}

fieldset.edoweb-entity-list {
  width: 75%;
  float: left;
}

#block-edoweb-edoweb-search-block {
  text-align: right;
}


ul.edoweb-facets-active>li {
  background-color: #ee7f00;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  margin-left: 0px;
  margin-bottom: 5px;
  color:#fff;
  box-shadow: 1px 1px 6px #b4b4b4; 
}

ul.edoweb-facets-active>li>a {
   color: #fff;
}

 ul.edoweb-facets-available>li>span {
  color: #000;
 }

ul.edoweb-facets-available>li {
  border-bottom: 1px dotted #dbdbdb;
  font-size: 1.0em; 
}
ul.edoweb-facets-available>li span {
  font-size: 0.8em;
}

ul.edoweb-facets-available a {
  color: #004678;
}


ul.edoweb-facets-available a:hover {
  color: #77adcf;
}

.item-list h3 {
  background-color: #dbdbdb;
  font-size: 1.1em;
}

.form-text:hover {
    box-shadow: inset 0px 0px 6px #ff9933;
}

.form-type-item {
  padding-bottom:5px;
  width: 95%;
}

.form-type-item a[data-bundle], #edoweb-tree-menu a[data-bundle] {
  margin: 0px;
  padding-left: 10px;
  font-size:1.0em;
  top: 10px;
}

.form-type-item a[data-bundle] {
  float:right;
}

.toggleButton {
  float:right;
  cursor: pointer;
}

.edoweb-tree li>a {
  color: #3b3b3b;
}

.edoweb-tree li.active>a {
  font-weight: bold;
}

.edoweb-tree div.item-list {
  padding-left: 1.1em;
}

.edoweb-tree .edoweb-tree-toolbox>a {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.edoweb-tree-clipboard-item {
  padding: 0.3em;
  margin: 0.3em;
}

.edoweb-tree-clipboard-item span.octicon {
  float: right;
  cursor: pointer;
}

.edoweb-tree {
  white-space: nowrap;
}

.edoweb-tree .edoweb-mimetype {
  height: 1.1em;
}

.edoweb-tree-cut-item {
  opacity: .5;
}

.edoweb-tree-insert {
  color: green;
}

.edoweb-mimetype {
  height: 2em;
}

.edoweb-tree-clipboard-item {
  background-color: #ff9933;
}

#edoweb-tree-menu {
  margin-bottom: 1.1em;
}

.one-sidebar #content {
  width: auto;
  min-width: 30em;
  max-width: 60em;
}

#sidebar-first {
  width: auto;
  min-width: 10em;
  may-width: 20em;
}

.sidebar .block {
  background-color: white;
  border: none;
}

.thumb img{
  box-shadow: 3px 3px 7px #666;
  width:150px;
}
