
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
}
#page-wrapper {
  min-height: 100%;

}
#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
}
#main, #header{
  min-width: 80%;
 margin-bottom:20px;
}
#content{

	
}
.region.region-content{
	  min-width: 80%;
}
.sidebar{
float:left;
min-width: 15%;
#max-width: 15%;
margin-top:20px;
}
#header div.section {
  position: relative;
}
.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
 
}
#content
{
	
}
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;


}

.sidebar{
	float:left;
}
.one-sidebar #content {

}
.two-sidebars #content {

}
.no-sidebars #content {
 
  float: none;
}
#sidebar-first,
#sidebar-second {

}
#main-wrapper {

}
#content .section,
.sidebar .section {
  padding: 0 15px;

}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
}
#footer-wrapper {
  padding: 35px 5px 30px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
}
#footer {

}

table{
	min-width:100%;
}
