@font-face {
  font-family: 'batch-icons';
  src: url('batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
       url('batch-icons-webfont.woff') format('woff'),
       url('batch-icons-webfont.ttf') format('truetype'),
       url('batch-icons-webfont.svg#batch-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*

.batch-icon is optimized for 16px.
.mega-batch-icon is optimized for 32px but can be used larger.

*/
.batch-icons {
  font: normal normal 16px batch-icons;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 5px;
  padding-right: 5px;
}
.mega-batch-icons {
  font: normal normal 32px batch-icons;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 10px;
  padding-right: 10px;
}


.batch-icon-add-person:before { content: '\f171'}
.batch-icon-plus:before { content: '\f01d'}
.batch-icon-concat:before { content: '\f143'}


